.panel {
  font-size: 1.5rem;
  font-weight: 500;
  /* margin-left: 2.5rem; */
}
.react-tabs__tab-list {
  display: flex;
  gap: 2.5rem;
  text-transform: uppercase;
}
.react-tabs__tab--selected {
  background: #ff9a04;
  color: #101010;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
}
@media screen and (max-width: 689px) {
  .react-tabs__tab-list {
    display: none;
  }
}
