@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Josefin+Sans:wght@300;400&family=Playfair+Display:wght@400;700&family=Press+Start+2P&family=Roboto+Condensed:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Josefin+Sans:wght@300;400&family=Limelight&family=Playfair+Display:wght@400;700&family=Press+Start+2P&family=Roboto+Condensed:wght@300;600&display=swap");
@import "~video-react/dist/video-react.css";

html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--primary-color);
  color: var(--third-color);
}
:root {
  --primary-color: #282c34;
  --secondary-color: #ff9a04;
  --third-color: #fff;
}
ul,
li {
  list-style: none;
}

/* --header-- */
.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7.4rem;
  background-image: linear-gradient(0deg, transparent, #25252582, #111);
  transition: background-color 1.5s ease-in-out;
  z-index: 100;
}
.header.fixed {
  background-color: var(--primary-color);
  box-shadow: 0 5px 15px #ff9a0425;
  z-index: 100;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
  font-size: 2rem;
}
.logo-title {
  display: block;
  font-family: "Limelight", sans-serif;
  font-size: 2.25rem;
  text-transform: uppercase;
}
nav {
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 1rem 0;
  text-transform: uppercase;
}
.navbar li {
  list-style: none;
  padding: 0 0 0 1.75rem;
  position: relative;
  width: 10rem;
  text-align: end;
}

.navbar li a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.navbar li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.navbar li a .circle {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 2rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.navbar li a:hover {
  transform: scale(1.2);
}

.navbar li a:active .circle {
  width: 20px;
  height: 20px;
}

.navbar li a:active:after {
  width: 50%;
}
.mobile {
  display: none;
}
.mobile i {
  color: #fff;
}
.search {
  width: 12rem;
}
@media screen and (max-width: 769px) {
  .logo-title {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 3.7rem;
    right: -300px;
    width: 200px;
    height: 100vh;
    background-color: #282c34d9;
    box-shadow: 0 40px 60px #282c3476;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  .show nav .navbar {
    right: 0px;
    /* display: none; */
  }
  .navbar li {
    margin-bottom: 2rem;
  }
  .mobile {
    display: block;
    padding: 1.19rem 0;
  }
  .mobile i {
    font-size: 2rem;
    cursor: pointer;
  }
}
/* movie */

button {
  all: unset;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2.5rem;
  gap: 1.5rem;
}

.movie-list a {
  text-align: center;
  padding: 0;
  margin: 0;
}
.movie-list h4 {
  color: var(--third-color);
  text-align: left;
  margin: 0.5rem;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2.5rem);
}
.card {
  /* display: grid; */
  /* grid-template-rows: auto auto auto; */
  position: relative;
}
.card-details {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  /* height: 300px; */
  /* height: 60%; */
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .no-poster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.card-details::before {
  content: "";
  display: block;
  padding-top: 150%; /* Adjust this value based on your image aspect ratio */
}

.movie-overview {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
}
.movie-overview h4 {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 600;
}
.movie-overview p {
  margin: 0 0.5rem;
  color: var(--third-color);
  font-size: clamp(0.5rem, 1vw, 1rem);
}
.card-details:hover .movie-overview {
  opacity: 1;
}

.heart {
  color: var(--secondary-color);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  font-size: clamp(2rem, 2.5vw, 3rem);
}

.vote-result {
  position: absolute;
  width: 2.5rem;
  bottom: 0.5rem;
  right: 0;
  /* transform: translateY(50%); */
  margin: 0.25rem;
  /* cursor: none; */
  z-index: 30;
}
/* .vote-result .CircularProgressbar .CircularProgressbar-text {
  font-size: 2rem;
} */
@media screen and (max-width: 992px) {
  .movie-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 769px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 553px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .movie-list {
    /* display: block; */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* favourite */

.favourite {
  margin-top: 7rem;
}
.favourite h1 {
  margin-left: 2.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

/* MoviePage */

.movie-page {
  margin: 0;
}
.movie-single-banner {
  top: 0;
  object-fit: contain;
  background-size: cover;
  background-position: start center;
  height: 50vh;
  width: 100%;
  position: relative;
}
.movie-single-banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00000080;
}
.movie-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: clamp(3rem, 5.5vw, 6.5rem);
  text-shadow: 2px 2px 4px #000000cc;
  text-align: center;
  width: 80%;
}
.movie-info {
  margin: 1rem 2.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  h2 {
    color: var(--secondary-color);
    text-transform: capitalize;
  }
}

.movie-poster {
  width: 18rem;
  height: 100%;
  border-radius: 5px;
  align-self: center;
}
.genre-wrapper {
  margin-top: 0.5rem;
  h2 {
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  h3 {
    margin: 0.75rem 0 0 0;
  }
  p {
    margin: 0.5rem;
  }
  span {
    ::before {
      content: "|";
      color: #ff9a04;
    }
  }
  .date,
  .runtime {
    font-weight: 600;
    font-size: 0.75rem;
    /* margin-left: 1rem; */
    border: 1px dotted var(--secondary-color);
    border-radius: 5px;
    padding: 0.1rem 0.25rem;
    margin: 0.5rem;
  }
}
.genre,
.language {
  width: 100%;
  display: flex;
  padding: 0;
  gap: 2rem;
}

.movie-vote {
  width: 3rem;
}
.movie-play {
  color: var(--secondary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}
.movie-play .play-button {
  font-size: 2.75rem;
  cursor: pointer;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-casts {
  margin: 1rem 10rem;
  .cast-scroller {
    position: relative;
    ul {
      display: flex;
      list-style: none;
      height: 16rem;
      overflow-x: scroll;
      flex: 0 0 600px;
      margin: 0 auto;
    }

    ::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      background: #fff3;
      -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-corner {
      background: #fff3;
    }

    li {
      margin: 0 2rem 0 0;
      img {
        border-radius: 5px;
        max-width: 120px;
        height: auto;
      }
      p {
        text-align: center;
      }
    }

    li:last-of-type {
      margin: 0;
    }
  }
  .cast-scroller::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0rem;
    bottom: 0;
    width: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ff9b0479);
    pointer-events: none;
  }
}

@media screen and (max-width: 680px) {
  .movie-info {
    display: block;
  }
  .movie-info img {
    display: none;
  }
  .genre,
  .language {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
/* Search */
.search-result {
  margin-top: 7rem;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  opacity: 0.7;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  display: none;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  background-color: var(--primary-color);
  color: #ff9a04;
  font-size: 1rem;
  flex: 1;
  opacity: 0.7;
  transition: width 3s ease;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */

.search-container.visible .search-input {
  display: block;
  width: 10rem;
}

.search-icon {
  cursor: pointer;
  margin-left: -2rem;
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
  color: var(--secondary-color);
  opacity: 0.6;
  z-index: 20;
}
.search-icon:hover {
  opacity: 1;
}

.search-container.visible .search-icon {
  opacity: 1;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  border-top: 1px solid var(--secondary-color);
}

.spinner {
  border: 5px dashed #0000001a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: var(--secondary-color);
  margin-left: 1rem;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
