@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Josefin+Sans:wght@300;400&family=Playfair+Display:wght@400;700&family=Press+Start+2P&family=Roboto+Condensed:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Josefin+Sans:wght@300;400&family=Limelight&family=Playfair+Display:wght@400;700&family=Press+Start+2P&family=Roboto+Condensed:wght@300;600&display=swap");

html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--primary-color);
  color: var(--third-color);
}
:root {
  --primary-color: #282c34;
  --secondary-color: #ff9a04;
  --third-color: #fff;
}

/* --header-- */
.header {
  /* background-color: #282c3465; */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7.4rem;
  background-image: linear-gradient(0deg, transparent, #25252582, #111);
  transition: background-color 1.5s ease-in-out;
  z-index: 100;
}
.header.fixed {
  background-color: var(--primary-color);
  box-shadow: 0 5px 15px #ff9a0425;
  z-index: 100;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
  font-size: 2rem;
}
.logo-title {
  display: block;
  font-family: "Limelight", sans-serif;
  font-size: 2.25rem;
  text-transform: uppercase;
}
nav {
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 1rem 0;
  text-transform: uppercase;
}
.navbar li {
  list-style: none;
  padding: 0 0 0 1.75rem;
  position: relative;
  width: 10rem;
  text-align: end;
}

.navbar li a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.navbar li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.navbar li a .circle {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 2rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.navbar li a:hover {
  transform: scale(1.2);
}

.navbar li a:active .circle {
  width: 20px;
  height: 20px;
}

.navbar li a:active:after {
  width: 50%;
}
.mobile {
  display: none;
}
.mobile i {
  color: #fff;
}
@media screen and (max-width: 769px) {
  .logo-title {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 3.7rem;
    right: -300px;
    width: 200px;
    height: 100vh;
    background-color: #282c34d9;
    box-shadow: 0 40px 60px #282c3476;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  .show nav .navbar {
    right: 0px;
    /* display: none; */
  }
  .navbar li {
    margin-bottom: 2rem;
  }
  .mobile {
    display: block;
    padding: 1.19rem 0;
  }
  .mobile i {
    font-size: 2rem;
    cursor: pointer;
  }
}
/* movie */

button {
  all: unset;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2.5rem;
  gap: 1.5rem;
}

.movie-list a {
  text-align: center;
  padding: 0;
  margin: 0;
}
.movie-list h4 {
  color: var(--third-color);
  text-align: left;
  margin: 0.5rem;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2.5rem);
}
.card {
  display: grid;
  grid-template-rows: auto auto auto;
}
.card-details {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-details img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.movie-overview {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: fit-content;
  background: #00000080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
}
.movie-overview h4 {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 600;
}
.movie-overview p {
  margin: 0 0.5rem;
  color: var(--third-color);
}
.card-details:hover .movie-overview {
  opacity: 1;
}
.heart {
  color: var(--secondary-color);
  cursor: pointer;
  position: absolute;
  justify-self: end;
  align-self: start;
  margin: 0.25rem;
}
@media screen and (max-width: 992px) {
  .movie-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 769px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 553px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .movie-list {
    /* display: block; */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* favourite */

.favourite {
  margin-top: 7rem;
}
.favourite h1 {
  margin-left: 2.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.favourite-movies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  margin: 2.5rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  border-top: 1px solid var(--secondary-color);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
